// /////container/////
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;

    @include pad() {
        padding: 0 36px;
    }

    @include phone() {
        padding: 0 14px;
    }
}

// /////padding/////
.py-section {
    padding-top: 80px;
    padding-bottom: 80px;

    @include pad() {
        padding: 80px 0px;
    }

    @include phone() {
        padding: 40px 0px;
    }
}


.px-24 {
    padding: 0 24px;
}

// /////flexbox/////
.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}