// /////container/////
.container {
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 12px;

    @include pad() {
        padding: 0 36px;
    }

    @include phone() {
        padding: 0 14px;
    }
}

// /////padding/////
.py-section {
    padding-top: 80px;
    padding-bottom: 80px;

    @include phone() {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}


.px-24 {
    padding: 0 24px;
}

// /////flexbox/////
.d-flex {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-c {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

.ai-s {
    align-items: start;
}

// /////card/////
.card-4 {
    max-width: 25%;

    @include pad() {
        max-width: 50%;
    }

    @include phone() {
        max-width: 100%;
    }
}

.card-3 {
    max-width: 33.33%;

    @include pad() {
        max-width: 50%;
    }

    @include phone() {
        max-width: 100%;
    }
}