<div class="blog-nav">
  <div class="container">
    <div class="d-flex jc-sb ai-c">
      <ul class="blog-nav-box d-flex">
        <li><a href="#">最新消息</a></li>
        <li><a href="#">特別企劃</a></li>
        <li><a href="#">新品上市</a></li>
        <li><a href="#">鏡框小知識</a></li>
      </ul>
      <a href="#" class="d-flex ai-c"
        ><span class="material-icons"> search </span></a
      >
    </div>
  </div>
</div>
