.footer {
    background-color: $primary;
    color: $white;
    padding: 48px 0 32px;

    @include pad() {
        padding: 48px 0 40px;
    }

    @include phone() {
        padding: 24px 0;
    }

    a {
        color: $white;
    }

    &-box {
        flex-direction: column;
        padding-bottom: 32px;
        border-bottom: 1px solid $white;

        @include phone() {
            flex-direction: row-reverse;
            justify-content: space-between;
            padding-bottom: 20px;
            align-items: start;
        }
    }

    &-nav li {
        margin-right: 48px;
        border-bottom: 3px solid $primary;

        @include zoom(0.2s);

        @include phone() {
            display: none;
        }

        &:hover {
            border-bottom: 3px solid $white;
        }
    }

    &-social li {
        margin-left: 32px;
        max-width: 48px;

        &:nth-child(1) {
            margin-left: 0;
        }

        @include phone() {
            margin-left: 8px;
            max-width: 24px;
        }

        img {
            max-width: 100%;
            @include zoom(0.2s);
        }

        &:hover img {
            transform: scale(1.2);
        }
    }

    &-contact {
        font-size: $fsz-l;
        margin-top: 32px;

        @include pad() {
            margin-top: 24px;
        }

        @include phone() {
            font-size: $fsz-base;
            margin-top: 0;
        }

        span {
            font-size: $fsz-l;
            margin-right: 22px;

            @include phone() {
                font-size: $fsz-xs;
                margin-right: 11px;
            }
        }

        li:nth-child(1) {
            margin-bottom: 8px;

            @include phone() {
                margin-bottom: 8px;
            }
        }

        a {
            @include zoom(0.2s);
        }

        a:hover {
            color: $gray;
        }
    }
}

.copyright {
    padding-top: 32px;

    @include phone() {
        padding-top: 20px;
        flex-direction: column;

        ul {
            flex-direction: column;
        }
    }

    li {
        margin-left: 48px;
        font-size: 0.875em;

        @include phone() {
            margin-left: 0px;
            font-size: $fsz-base;

            &:nth-child(1) {
                margin: 8px 0;
            }
        }
    }

    a {
        @include zoom(0.2s);
    }

    a:hover {
        color: $gray;
    }
}