.product-nav {
    .container {
        @include pad() {
            padding: 0;
            max-width: 100%;
        }
    }

    li {
        width: 33.33%;
        border-left: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
        text-align: center;
    }

    a {
        font-family: $english, serif;
        display: block;
        color: $black;
        font-size: $fsz-l;
        padding: 24px 0 16px;
        border-bottom: 8px solid $white;
        font-weight: 500;
        @include zoom(0.2s);

        @include pad() {
            font-size: $fsz-m;
            padding: 16px 0 8px;
        }

        @include phone() {
            font-size: $fsz-base;
        }

        &:hover {
            border-bottom: 8px solid $dark-red;
        }
    }

    .action {
        border-bottom: 8px solid $primary;
        font-weight: bold;
        pointer-events: none;
        cursor: default;
    }
}