.location {
    label {
        font-size: $fsz-m;
        margin-right: 16px;

        @include phone() {
            font-size: $fsz-base;
            margin-right: 8px;
            min-width: 72px;
        }
    }

    &-area {
        max-width: 416px;
        margin-bottom: 40px;

        @include phone() {
            margin-bottom: 24px;
            max-width: 100%;
        }

        select {
            width: 304px;
            padding: 6px 12px;
            border: 1px solid #CED4DA;
            font-size: $fsz-xs;
            color: #495057;
            appearance: none;
            background: url("/assets/images/drop-down.png") 100% / 24px no-repeat;

            @include phone {
                flex-grow: 1;
            }
        }
    }

    &-box {
        flex-wrap: wrap;
        margin: 0 -12px;

        .card-3 {
            padding: 0 12px;
            margin-bottom: 48px;

            @include pad() {
                margin-bottom: 24px;
            }
        }
    }

    a {
        color: $black;
        height: 100%;

        &:hover img {
            transform: scale(1.1);
        }
    }

    h3 {
        font-size: $fsz-m;
        padding: 8px 24px;
        border-left: 1px solid #CED4DA;
        border-right: 1px solid #CED4DA;
        border-top: 1px solid #CED4DA;
    }

    &-img {
        font-size: 0;
        overflow: hidden;

        img {
            @include zoom(0.5s);
        }
    }

    &-info {
        padding: 16px 24px;
        font-size: $fsz-s;
        border: 1px solid #CED4DA;
        flex-grow: 1;

        span {
            margin-right: 10px;
            font-size: $fsz-s;
            line-height: $lh-l;
        }

        div:nth-child(2) {
            margin: 8px 0;
        }
    }

    .store {
        &-box {
            @include pad {
                flex-direction: column;
            }
        }

        &-card {
            width: 40%;
            margin-right: 24px;
            flex-direction: column;

            @include pad() {
                width: 100%;
                flex-direction: row;
                margin-bottom: 24px;
            }

            @include phone() {
                flex-direction: column;
            }
        }

        &-text {


            @include pad() {
                width: 50%;
            }

            @include phone() {
                width: 100%;
            }
        }

        &-img {
            height: 224px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include pad() {
                width: 50%;
                margin-right: 24px;
            }

            @include phone() {
                width: 100%;
            }
        }
    }



    iframe {
        width: 60%;
        height: auto;

        @include pad() {
            width: 100%;
            height: 414px;
        }
    }
}