// /////banner/////
.product-banner {

    ul {
        width: 100%;
        height: 296px;

        @include phone() {
            height: 136px;
        }
    }

    li {
        width: 50%;
        background-size: cover;
        background-position: center center;

        &:nth-child(1) {
            background-image: url('../images/product-header-1.png');

            @include pad() {
                background-image: url('../images/product-header-sm-1.png');
            }
        }

        &:nth-child(2) {
            background-image: url('../images/product-header-2.png');

            @include pad() {
                background-image: url('../images/product-header-sm-2.png');
            }
        }
    }
}

// /////product/////
.product {
    text-align: center;

    h3 {
        margin-bottom: 32px;

        @include phone() {
            margin-bottom: 24px;
        }
    }

    &-title-en {
        font-size: $product-title;
        font-family: $english;
        font-weight: 500;

        @include phone() {
            font-size: $fsz-m;
        }
    }

    &-title-ch {
        font-size: $fsz-l;

        @include phone() {
            font-size: $fsz-m;
        }
    }

    &-box {
        margin: 0 -12px;
        flex-wrap: wrap;
        font-size: 0;
    }

    &-card-4 {
        max-width: 25%;
        padding: 0 12px;
        margin-bottom: 80px;

        @include pad() {
            max-width: 50%;
            margin-bottom: 40px;
        }

        @include phone() {
            max-width: 100%;
            margin: 0 auto 24px;

            &:nth-child(12) {
                margin-bottom: 0;
            }
        }

        a {
            color: $black;
            @include zoom(0.2s);

            &:hover {
                color: $dark-gray;
            }

            &:hover img {
                transform: scale(1.1);
            }
        }
    }

    &-img {
        overflow: hidden;

        img {
            @include zoom(0.5s);
        }

    }

    &-name {
        font-size: $fsz-m;
    }

    &-price {
        font-size: $fsz-m;
        color: $primary;
        font-weight: 500;
    }

    &-color div {
        width: 24px;
        height: 24px;
        border-radius: 4px;
    }

    .brown {
        background-color: $brown;
        margin-right: 8px;
    }

    .orange {
        background-color: $orange;
    }



    &-page {
        margin: 0 auto;

        @include pad() {
            margin-top: 40px;
        }

        @include phone() {
            margin: 64px 0 24px;
        }

        li {
            border-top: 1px solid #555;
            border-left: 1px solid #555;
            border-bottom: 1px solid #555;

            &:nth-child(7) {
                border-right: 1px solid #555;
            }
        }

        .next {
            background-color: $light-gray;
        }

        &-btn {
            width: 42px;
            padding: 12px 0;
            display: block;
            font-size: $fsz-xs;
            text-align: center;
            color: #555;
            @include zoom(0.2s);

            &:hover {
                background-color: $gray;
            }

            @include phone() {
                font-size: $fsz-base;
                width: 40px;
            }
        }

        .now {
            background-color: $black;
            color: $white;
            cursor: default;
        }

        .text {
            width: 81px;
            padding: 12px 11px;

            @include phone() {
                width: 75px;
            }
        }
    }


}