<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3眼鏡官網│部落格</title>
  </head>
  <body>
    <!-- /////header///// -->
    <header><%- include('./layout/header'); -%></header>
    <!-- /////nav///// -->
    <nav><%- include('./layout/blog-nav'); -%></nav>
    <!-- /////main///// -->
    <main>
      <!-- /////question///// -->
      <div class="container py-section">
        <h2 class="other-title">部落格</h2>
      </div>
    </main>
    <!-- /////footer///// -->
    <footer class="footer"><%- include('./layout/footer'); -%></footer>
    <!-- /////don't move///// -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
