<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3眼鏡官網│部落格-情人特別企劃</title>
  </head>
  <body>
    <!-- /////header///// -->
    <header><%- include('./layout/header'); -%></header>
    <!-- /////nav///// -->
    <nav><%- include('./layout/blog-nav'); -%></nav>
    <!-- /////main///// -->
    <main>
      <div class="container blog-event">
        <!-- /////breadcrumbs///// -->
        <ul class="breadcrumbs">
          <li><a href="index.html">首頁</a> /</li>
          <li><a href="blog.html">部落格</a> /</li>
          <li><a href="#">特別企劃</a> /</li>
          <li class="breadcrumbs-now">情人特別企劃</li>
        </ul>
        <!-- /////event-tags///// -->
        <ul class="blog-event-tags">
          <li><a href="#" class="tags">#special</a></li>
          <li><a href="#" class="tags">#event</a></li>
        </ul>
        <!-- /////content & all-tags///// -->
        <div class="d-flex">
          <div class="blog-event-content">
            <h2 class="blog-event-title">情人特別企劃</h2>
            <p class="blog-event-sub-title">2020 Valentine’s Special</p>
            <ul>
              <li>
                <img src="../assets/images/blogpage-1.png" alt="情人特別企劃" />
                <p>
                  一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                  本次拍攝的鏡框款式與 NEEDS CLASSIC
                  聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                </p>
              </li>
              <li>
                <img
                  src="../assets/images/blogpage-2.png"
                  alt="NEEDS CLASSIC 聯名設計款1"
                />
                <p>
                  一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                  本次拍攝的鏡框款式與 NEEDS CLASSIC
                  聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                </p>
              </li>
              <li>
                <img
                  src="../assets/images/blogpage-3.png"
                  alt="NEEDS CLASSIC 聯名設計款2"
                />
                <p>
                  一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。<br />
                  本次拍攝的鏡框款式與 NEEDS CLASSIC
                  聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                </p>
              </li>
              <li>
                <img src="../assets/images/blogpage-4.png" alt="情人特別企劃" />
                <p>
                  2/14(五)-2/20(日)<br />
                  至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個<br />
                  期間優惠還有~~持他牌鏡框更換鏡片<br />
                  薄型非球面鏡片折300元<br />
                  濾藍光鏡片折500元<br />
                  快快帶上另一半<br />
                  讓彼此每一次睜開眼，都被愛的視線包圍!
                </p>
              </li>
            </ul>
            <!-- /////share///// -->
            <div class="blog-event-share d-flex ai-c">
              <span>Share</span>
              <a href="#">
                <img src="../assets/images/logo-facebook.png" alt="facebook" />
              </a>
              <a href="#">
                <img
                  src="../assets/images/logo-instagram.png"
                  alt="instagram"
                />
              </a>
            </div>
            <!-- /////other-event///// -->
            <div class="d-flex jc-sb blog-event-other">
              <a href="#" class="d-flex ai-c">
                <span class="material-icons"> arrow_back </span>
                <span>上一篇：街頭潮人訪問 1</span>
              </a>
              <a href="#" class="d-flex ai-c">
                <span>上一篇：街頭潮人訪問 1</span>
                <span class="material-icons"> arrow_forward </span>
              </a>
            </div>
          </div>
          <!-- /////tags///// -->
          <div class="blog-event-all-tags">
            <div class="tags-title d-flex ai-c">
              <span class="material-icons-outlined"> label </span>TAGS
            </div>
            <div class="tags-box d-flex">
              <a href="#" class="tags">#special</a>
              <a href="#" class="tags">#sale</a>
              <a href="#" class="tags">#new_item</a>
              <a href="#" class="tags">#interview</a>
              <a href="#" class="tags">#trivia</a>
              <a href="#" class="tags">#news</a>
              <a href="#" class="tags">#event</a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- /////footer///// -->
    <footer class="footer"><%- include('./layout/footer'); -%></footer>
    <!-- /////don't move///// -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
