<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3眼鏡官網│門市據點-分店介紹</title>
  </head>
  <body>
    <!-- /////header///// -->
    <header><%- include('./layout/header'); -%></header>
    <!-- /////main///// -->
    <main>
      <!-- /////position///// -->
      <div class="container py-section location">
        <h2>門市據點</h2>
        <div class="location-area d-flex ai-c">
          <label for="location-area">選擇分店</label>
          <select name="location-area" id="location-area">
            <optgroup label="台北市">
              <option value="台北中山旗艦店">台北中山旗艦店</option>
              <option value="台北綠園店">台北綠園店</option>
            </optgroup>
            <optgroup label="台中市">
              <option value="台中清水旗艦店">台中清水旗艦店</option>
            </optgroup>
            <optgroup label="高雄市">
              <option value="高雄中正形象店">高雄中正形象店</option>
              <option value="高雄夢時代店">高雄夢時代店</option>
            </optgroup>
          </select>
        </div>
        <!-- /////store-info///// -->
        <div class="store-box d-flex">
          <div class="store-card d-flex">
            <div class="store-img">
              <img src="../assets/images/store-1.png" alt="台北中山旗艦店" />
            </div>
            <div class="store-text d-flex fxd-c">
              <h3>台北中山旗艦店</h3>
              <div class="location-info">
                <div class="d-flex">
                  <span class="material-icons-outlined"> call </span
                  >電話：(02)000-1234
                </div>
                <div class="d-flex">
                  <span class="material-icons-outlined"> schedule </span
                  >營業時間：10:00-21:00
                </div>
                <div class="d-flex ai-s">
                  <span class="material-icons-outlined"> place </span
                  >地址：台北市中山區南京東路25巷2-1號
                </div>
              </div>
            </div>
          </div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2103.1248717922476!2d121.53643163014978!3d25.052023325641326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abdf92494d29%3A0xd908a8a881f73476!2zMTA0OTHlj7DljJfluILkuK3lsbHljYDljZfkuqzmnbHot6_kuInmrrUyNeiZnw!5e0!3m2!1szh-TW!2stw!4v1690813384910!5m2!1szh-TW!2stw"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </main>
    <!-- /////footer///// -->
    <footer class="footer"><%- include('./layout/footer'); -%></footer>
    <!-- /////don't move///// -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
