<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W3眼鏡官網│Celluloid Combi</title>
  </head>
  <body>
    <!-- /////header///// -->
    <header><%- include('./layout/header'); -%></header>
    <!-- /////nav///// -->
    <nav class="product-nav">
      <div class="container">
        <ul class="d-flex">
          <li>
            <a href="product-optical.html" class="action"><h2>OPTICAL</h2></a>
          </li>
          <li>
            <a href="product-sunglasses.html"><h2>SUNGLASSES</h2></a>
          </li>
          <li>
            <a href="#"><h2>FUNCTIONAL</h2></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- /////main///// -->
    <main>
      <!-- /////banner///// -->
      <div class="product-banner d-flex">
        <ul class="d-flex">
          <li class="product-banner-optical"></li>
          <li class="product-banner-optical"></li>
        </ul>
      </div>
      <!-- /////product///// -->
      <div class="container">
        <div class="py-section product">
          <h3>
            <span class="product-title-en">Celluloid Combi</span><br />
            <span class="product-title-ch">賽璐珞鈦金屬混合鏡框</span>
          </h3>
          <ul class="product-box d-flex">
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-1.png" alt="product-1" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-2.png" alt="product-2" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-3.png" alt="product-3" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-4.png" alt="product-4" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-5.png" alt="product-5" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-6.png" alt="product-6" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-1.png" alt="product-1" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-2.png" alt="product-2" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-3.png" alt="product-3" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-4.png" alt="product-4" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-5.png" alt="product-5" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
            <li class="card-4">
              <a href="#">
                <div class="product-img">
                  <img src="../assets/images/product-6.png" alt="product-6" />
                </div>
                <div class="d-flex jc-sb">
                  <div class="product-name">BJ41600S</div>
                  <div class="product-price">NTD3,490</div>
                </div>
                <div class="product-color d-flex">
                  <div class="brown"></div>
                  <div class="orange"></div>
                </div>
              </a>
            </li>
          </ul>

          <!-- /////page///// -->
          <ul class="d-flex jc-c ai-c product-page">
            <li><a href="#" class="product-page-btn text">上一頁</a></li>
            <li><a href="#" class="product-page-btn">1</a></li>
            <li><a href="#" class="product-page-btn now">2</a></li>
            <li><a href="#" class="product-page-btn">3</a></li>
            <li><a href="#" class="product-page-btn">4</a></li>
            <li><a href="#" class="product-page-btn">5</a></li>
            <li><a href="#" class="product-page-btn text next">下一頁</a></li>
          </ul>
        </div>
      </div>
    </main>
    <!-- /////footer///// -->
    <footer class="footer"><%- include('./layout/footer'); -%></footer>
    <!-- /////don't move///// -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
